/**
 * Mixin center: Centers an element inside its relatively positioned parent
 * @param {String} $direction [xy] - Centering direction: 'x', 'y', or 'xy'
 * @param {Boolean} $use3d [false] - Whether to use 3D transforms for better performance
 */
@mixin center($direction: xy, $use3d: false) {
  position: absolute;
  
  $transform: ();
  
  @if $direction == xy or $direction == x {
    left: 50%;
    right: auto;
    $transform: append($transform, translateX(-50%));
  }
  
  @if $direction == xy or $direction == y {
    top: 50%;
    bottom: auto;
    $transform: append($transform, translateY(-50%));
  }
  
  @if length($transform) > 0 {
    @if $use3d {
      transform: translate3d(
          if($direction == xy or $direction == x, -50%, 0),
          if($direction == xy or $direction == y, -50%, 0),
          0
      );
    } @else {
      transform: $transform;
    }
  }
}
